/********************************************
GENERAL
********************************************/

body {
	font-family: 'Ramabhadra' , sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

ul li a {
	text-decoration: none;
	color: black;
	font-family: 'Fira Sans';
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 5%;
	text-align: left;
}

p {
	color: #2C3E50;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Fira Sans';
}

ul {
	color: #2C3E50;
	text-align: center;
	list-style: none;
}
/********************************************
HEADING
********************************************/


#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Days One', sans-serif;
	margin: 15px 0;
	font-size: 3.5em;
	font-weight: normal;
	line-height: 0.8em;
	text-decoration: none;
}

h2 {

	margin: -5px 0 0;
	font-weight: normal;
	font-family: 'Fira Sans';
}

h3 {
	font-family: 'Fira Sans';
	color: black;
}


/********************************************
NAVIGATION
********************************************/

nav {
	text-align: center;
	padding: 10px 0;

}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/********************************************
FOOTER
********************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #B3AEFF;
}

/********************************************
PAGE:PICTURES PAGE;
********************************************/

#wrapper h3 {
	padding-top: 20px;
	text-align: center;
}

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li{
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #547799;
	color: red;
}

#gallery li p {
	margin:0;
	padding: 5%;
	font-size: 0.75em;
	color: white;
}



/********************************************
PAGE:INFORMATION;
********************************************/
#contactlinks p {
	text-align: center;
}

.map1 {
	display: inline-block;
	max-width: 250px;
	margin: 0 auto 30px;
	border-radius: 20px;
	
}

.map2 {
	display: inline-block;
	max-width: 250px;
	margin: 0 auto 30px;
	border-radius: 20px;

}

.maps {
	list-style: none;
}

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.5em;
}

.contact-info li.phone a {
	background-image: url('img/phone.png');
}

.contact-info li.mail a {
	background-image: url('img/mail.png');
}

.contact-info li.twitter a {
	background-image: url('img/twitter.png');
}




/********************************************
PAGE:INDEX;
********************************************/

#panopic {
	width: 100%;
	margin: 0 auto;
	position: center;
	opacity: 0.5;
}


#headings{
	background-color: #272928;
	margin-top: -10px;
	color: #ECF0F1;
}

#left {
	width: 60%;
	float: left;
}

#right {
		width: 18%;	
		background-color: #547799;		
		border-bottom-left-radius: 15px;
		padding-top: 1%;
		margin-top: -9px;
}

#right2 {
		width: 18%;				
		background-color: #547799;		
		border-bottom-right-radius: 15px;
		padding-top: 1%;
		margin-top: -9px;
}

#content div {
	display: inline-block;
}

#skills li {
	text-align: left;
	color: black;
}


/********************************************
COLORS
********************************************/

/* site body */

body {
	background-color: #ECF0F1;
	color: blue;
}

/* dark brown header */

header {
	background: #401714;
	border-color: #E5DA4B;
}

/* nav background on mobile */

nav {
	background: #3498DB;
}

/* logo text */

h1, h2 {
	color: #fff;
}

/* links */

a {
	color: black;
	text-decoration: none;
}

/* selected nav links */

nav a.selected, nav a:hover {
	color: white;
}

/* Google Map Page */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

html {
    height: 100%;
}

body {
        height: 100%;
        margin: 0;
        padding: 0;  
}

#mapDiv {

    height: 80%;
    width: 90%;
    position: relative;
    margin: 0 auto;
}

#mapheading {
	font-family: 'Fira Sans';
	font-weight: bold;
	color: black;
	font-size: 2em;
}
 
 #mapbuttons {
	float: right;
	margin:0px;

 }

 footer p{
 	color: black;
 	text-align: center;
 }
