#mapDiv {
	width: 100%;
	height: 570px;
}

#maptext p {
	font-family: verdana;
	margin: -1px;
	text-align: center;
	color: whitesmoke;
}

body {
	background-color: black;
}

#homelink a {
	text-decoration: none;
	color: whitesmoke;
	font-size: 17px;
	font-family: verdana;
}

.list-inline li img {
	height: 80px;
	width: 80px;
}

.service-item img {
	height: 200px;
	width: 200 px;
}