/**************************************
HEADERS
**************************************/


h1 {
	font-family: 'lobster', sans-serif;
}

h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
}



div p {
	font-family: 'Bubbler One', sans-serif;
}